<div class="about-container">
  <h2>Sobre nós</h2>
  <p>
    Bem-vindo/a a nossa aplicação de filmes!
    Essa aplicação te entrega detalhes de filmes recentes, suas avaliações, trailers, suas e muito mais.
    Mantenha-se informado sobre os filmes mais recentes no conforto de sua casa.
  </p>
  <p>
    Nossa missão é mantê-los bem infomados e entretidos. Coletadamos informações de variadas fontes e apresentamos a vocês as informações mais recentes, trazendo desde <i>blockbusters</i> até filmes clássicos.
  </p>
</div>