button{
  cursor: pointer;
}
.movie-item {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid black;
  &__image {
    // width: 200px;
    // height: 300px;
    object-fit: fill;
    cursor: pointer;
  }
  &__info{
    flex-wrap: wrap;
    &__name{
      font-weight: 700;
    }
  }
  &__action-icons{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 0 0 0;

    &__edit{
      background-color: white;
      border: none;
      color: green;
      
    }
    &__delete{
      background-color: white;
      border: none;
      color: red;
    }
  }
}
