<div class="movie-item">
  <img class="movie-item__image" (click)="openMoviesDetail(movie.id)" [src]="movie.imageUrl"/>
  
  <div class="movie-item__info">
    <div class="movie-item__info__name">{{ movie.name | uppercase }}</div>
    <div class="movie-item__info__price"> {{ movie.minutes }} minutos </div>
  </div>
  <div class="movie-item__action-icons">
    <button class="movie-item__action-icons__edit" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button class="movie-item__action-icons__delete" mat-icon-button color="warn" [routerLink]="['movies', 'delete', movie.id]">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>